@import "../vendor/reveal-js/css/reveal.css";
@import "../vendor/reveal-js/css/theme/moon.css";
@import "mixins";


@map-color: rgb(166, 122, 122);

.map {
  background-color: @map-color;
  border-top-color: rgb(147, 161, 161);
  border-top-style: solid;
  border-top-width: 4px;
  width: 900px;
  height: 400px;
  position: relative;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.left-foot-img {
  background-image: url('/img/foot-left.png');
}

.right-foot-img {
  background-image: url('/img/foot-right.png');
}

.fades {
  .transition(opacity, 2s);
}

.vertical-foot {
  width: 40px;
  height: 69px;
}

.heading-up {
  transform: rotate(0turn);
}

.heading-right {
  transform: rotate(0.25turn);
}

.heading-down {
  transform: rotate(0.5turn);
}

.heading-left {
  transform: rotate(0.75turn);
}

.footstep {
  position: absolute;

  .left {
    .left-foot-img;
    .vertical-foot;
    float: left;
  }
  
  .right {
    .right-foot-img;
    .vertical-foot;
    margin-top: 35px;
    float: left;
  }
}
